@font-face {
    font-family: Inter;
    src: url('./Inter/Inter-Bold.ttf');
}

@font-face {
    font-family: InterMedium;
    src: url('./Inter/Inter-Medium.ttf');
}

@font-face {
    font-family: Pacifico;
    src: url('./Pacifico/Pacifico-Regular.ttf');
}

html {
    scroll-behavior: smooth;
}

* {
    cursor: default;
}

body {
    background-color: rgb(24, 31, 41);
    margin-left: 50px;
    animation: 0.8s fadein;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opactiy: 1;
    }
}

@keyframes titledropin {
    from {
        margin-top: 100px;
    }
    to {
        margin-top: 80px;
    }
}

p, a, h3, h4 {
    color: #ebebeb;
    font-family: Inter, Arial, Helvetica, sans-serif;
}

p {
    font-size: 20pt;
}
h3 {
    font-size: 25pt;
}

a:hover {
    cursor: pointer;
}

h1 {
    font-family: Pacifico, Arial, Helvetica, sans-serif;
    font-size: 50pt;
    color: #ebebeb;
    z-index: 1;
}

h2 {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 30px;
}

h2, em {
    font-style: normal;
    background: -webkit-linear-gradient(315deg, rgba(0,187,203,1) 0%, rgba(0,233,255,1) 50%, rgba(0,247,255,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#header-block {
    margin-top: 80px;
    animation: 0.5s titledropin;
    transition: 0.3s;
}

#header-block h2 {
    margin-left: 30px;
}

.hover-opacity {
    opacity: 90%;
    transition-duration: 0.5s;
}

.hover-opacity:hover {
    opacity: 100%;
}

#rest-of-page {
    transition: 0.4s;
    width: 70%;
    margin: 0 auto;
}

a {
    text-decoration: underline dotted 1px grey;
    transition-duration: 0.1s;
}
a:hover {
    text-decoration: underline dotted white;
}
#header-links p a {
    opacity: 0.8;
    transition: 0.2s;
    color: rgba(0,247,255,1);
    margin-left: 30px;
    font-size: 20px;
    font-family: Inter;
}
#header-links p {
    margin: 0px;
    padding: 10px 0 10px 0;
}

#header-links p a:hover {
    color: white;
    opacity: 1;
}

.block {
    /* margin-top: 350px; */
    height: fit-content;
    padding: 10px;
}

.block h2 {
    opacity: 1;
    color: white;
}

.project-item {
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    width: 100%;
    padding: 15px 15px 0 15px;
    transition: 0.3s;
}
.project-item:hover {
    border: 1px solid rgba(0,247,255,1);
    box-shadow: 0 0 4px rgba(0,247,255,1);
}
.unavailable-project-item:hover {
    border: 1px solid white;
    box-shadow: 0 0 4px white;
}
.project-item * {
    cursor: pointer;
    margin-top: 0px;
}
.project-item p {
    margin-top: -20px;
    width: 100%;
    font-size: 15pt;
}
.project-item h3 {
    width: 100%;
    font-size: 25pt;
}

.file-item:hover {
    border: 1px solid rgb(255, 162, 0);
    box-shadow: 0 0 4px rgb(255, 162, 0);
}

#scroll-hint {
    opacity: 0.7;
    color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
    transition: 0.2s;
}

#header-bar {
    opacity: 1;
    background-color: rgba(24, 31, 41, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    width: 100%;
    padding-left: 40px;
    z-index: 2;
}

.scrollable {
    display: inline-flex;
    overflow: scroll;
    transform: translateY(30%);
}

.scrollable button {
    padding: 3px 12px 3px 12px;
    height: fit-content;
    margin-left: 25px;
    background: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.3s;
    font-size: 20px;
}
.scrollable button:hover {
    opacity: 1;
    color: rgb(24, 31, 41);
    background-color: #efefef;
}

#personal-overlay {
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(24, 31, 41, 0.5);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    transition: 1s;
    cursor: pointer;
    pointer-events: none;
}

#personal-keybox, #personal-contents {
    -webkit-transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.4);
    transform: translate(-50%, -50%);
    border: 2px dotted cyan;
    padding: 30px 0 30px 0;
    border-radius: 20px;
    text-align: center;
    position: absolute;
    width: 400px;
    left: 50%;
    top: 50%;
}

#personal-contents {
    padding: 0 30px 0 30px;
    visibility: hidden;
}

#personal-keybox input {
    width: 90%;
}


@media screen and (min-width: 1400px) {

    #header-block h1, #header-block h2 {
        display: inline-block;
    }

    .smallscreen-only {
        display: none;
    }
    .project-item {
        margin-bottom: 20px;
    }

    #header-bar {
        display: flex;
    }
}

@media screen and (max-width: 1399px) {
    #projects-box {
        display: flex;
        overflow-x: scroll;
    }
    .project-item {
        margin-right: 20px;
    }
    body {
        margin-left: 0;
    }
    #header-block h1 {
        text-align: center;
        line-height: 80px;
    }
    #header-block h2 {
        margin-left: 0;
        margin-top: -30px;
        text-align: center;
        font-size: 30px;
    }
    #header-links {
        font-size: 15px;
    }
    #scroll-hint, #header-bar {
        opacity: 1;
        pointer-events: none;
    }
    #header-block {
        opacity: 1;
        pointer-events: auto;
    }
    #rest-of-page {
        opacity: 1;
        pointer-events: auto;
    }
    #footer {
        visibility: hidden;
    }
    .bigscreen-only, .project-item p {
        display: none;
    }
}
