@keyframes fadeinOpac {
    from {
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}

h1, body, img, p, h2, a {
	animation-name: fadeinOpac;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

body {
    background-image: linear-gradient(to right, rgb(10, 10, 10), rgb(20, 20, 20));
}

#title {
    font-family: Source Sans Pro;
    font-size: 10vh;
    font-weight: lighter;
    color: rgb(223, 222, 224);
}

#introduction {
    color: rgb(223, 222, 224);
    font-family: Source Sans Pro;
    font-size: 2vh;
    font-weight: lighter;
    margin-top: -2%;
}

img {
	transition: box-shadow 0.2s ease-in-out;
    margin-top: -1vh;
}
img:hover {
	box-shadow: 5px 5px 7px #222222;
}

a, a:visited, a:active {
    text-decoration: none;
	color: #777777;
	font-size: 4vh;
	transition: color 0.5s ease-in-out;
}
a:hover {
	color: #FFFFFF;
}

#certs_header {
    color: rgb(192, 192, 192);
    font-family: Source Sans Pro;
    font-weight: 100;
}

h2 {
    color: rgb(192, 192, 192);
    font-family: Source Sans Pro;
    font-weight: 100;
    font-size: 5vh;
    text-decoration: none;
}

#writeups {
    animation-name: fadeinOpac;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    color: rgb(192, 192, 192);
    font-family: Source Sans Pro;
    font-weight: 100;
}
h1 {
	margin-top: 0;
}
